<nav class="pagination">
  <p>
    {{if .Paginator.HasPrev }}
    <a accesskey="ArrowLeft" href="{{ .Paginator.Prev.URL }}">&laquo; Previous</a> | {{ end }}
    {{ if (eq .Paginator.TotalPages 0) }}
    <span>Page {{ .Paginator.PageNumber }} of 1</span>
    {{ else }}
    <span>Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
    {{ end }}
    {{ if .Paginator.HasNext }} |
    <a accesskey="ArrowRight" href="{{ .Paginator.Next.URL }}">Next &raquo;</a>
    {{ end }}
  </p>
</nav>