// ARTICLE
article [itemprop='description']
  margin-bottom: 20px
  margin-top: 20px

.articles
  color: $headline-alt-color

  li
    margin-bottom: 0.5em
    padding-left: 0

    a
      display: block
      padding: 0 4px
      text-transform: inherit
      width: 100%

    a:hover, &.active > a
      background-color: $text-color
      color: $background


    a:hover > span, &.active > a > span
      color: $background

    .key
      color: #fdbc40
      font-weight: 700

    .key, .author, .rdtime, .date
      padding-right: 0.325em

    .title
      color: #28fc91
      font-weight: 400
      text-transform: uppercase

// PROGRESS BAR
.progress-bar
  background-color: #ccc
  height: 8px
  margin-top: 12px
  opacity: 0.8

  &.progress-bar-show-percent
    margin-top: 38px

.progress-bar-filled
  background-color: gray
  height: 100%
  position: relative
  transition: width 0.3s ease
  width: 0

  &:before
    border: 6px solid transparent
    border-top-color: gray
    content: ''
    position: absolute
    right: -6px
    top: -12px

  &:after
    border: 6px solid transparent
    color: gray
    content: attr(data-filled)
    display: block
    font-size: 12px
    position: absolute
    right: 0
    top: -38px
    transform: translateX(50%)
    white-space: nowrap

// MEDIA
.media:not(:last-child)
  margin-bottom: 1.25rem

.media-left
  padding-right: 1rem

.media-left, .media-right
  display: table-cell
  vertical-align: top

.media-right
  padding-left: 1rem

.media-body
  display: table-cell
  vertical-align: top

.media-heading
  font-size: 1.16667rem
  font-weight: 700

.media-content
  margin-top: 0.3rem

// CARD
.card
  border: 1px solid #ccc

  .card-header
    background-color: #ddd
    color: #333
    padding: 0.5rem 0
    text-align: center

// ALERT
.alert
  border: 1px solid #ccc
  color: #ccc
  margin-bottom: 1.75rem
  padding: 1rem

  .loading
    margin-bottom: -5px

.alert-success
  border-color: #4caf50
  color: #4caf50

.alert-error
  border-color: #f44336
  color: #f44336

.alert-info
  border-color: #00bcd4
  color: #00bcd4

.alert-warning
  border-color: #ff9800
  color: #ff9800

// PLACEHOLDER
.avatarholder, .placeholder
  background-color: #f0f0f0
  border: 1px solid #f0f0f0
  color: #b9b9b9
  font-size: 1rem
  text-align: center

.avatarholder
  background-position: 50%
  background-repeat: no-repeat
  background-size: cover
  font-size: 2rem
  height: 48px
  line-height: 46px
  width: 48px

  .rounded
    border-radius: 33px

.dark .avatarholder, .dark .placeholder
  background-color: transparent
  border-color: #333

// LOADING
.loading
  animation: a 0.6s infinite linear
  border: 2px solid #e91e63
  border-radius: 50%
  border-right-color: transparent
  content: '&nbsp;'
  display: inline-block
  height: 20px
  margin: 0 0.5rem
  width: 20px

