nav
  display: block

  a
    &[itemprop='url']
      color: $navigation
      display: inline-block
      margin-right: 0.625rem
      padding: 0 4px

    &.active
      background-color: $navigation
      color: $background

  &.readmore a
    margin: 0
    padding: 0 3px

.menu
  width: 100%

  .menu-item
    border-color: #616161
    color: #616161
    display: block

    &.active, &:hover
      background-color: transparent
      border-color: #000
      color: #000


.dark
  .menu 
    .menu-item
      border-color: rgba(95, 95, 95, 0.78)
      color: #ccc

      &.active, &:hover
        border-color: #ccc
        color: #fff

  .single-nav li
    padding-left: 0

