html
  font-size: 12px

*
  box-sizing: border-box
  text-rendering: geometricPrecision

body
  font-size: 1rem
  line-height: 1.5rem
  margin: 0
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif
  word-wrap: break-word

h1, h2, h3, h4, h5, h6
  line-height: 1.3em



