{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}{{ end }}
{{ define "main" }}
  <!-- {{ printf "%#v" .Type}} -->
  <header class="single">
    <h1>{{ .Title }}</h1>
  </header>
  {{ if eq .Type "music" }}
  <div id="player1" class="aplayer">
    No music found.
  </div>
  {{ end }}
  {{ .Content }}

  <ul class="single-nav">
  {{ if .Params.urls.visit }}<li><a accesskey="{{ i18n "visitkey" }}" href="{{ .Params.urls.visit }}" target="_blank">{{ i18n "visit" }}</a></li>{{ end }}
  {{ if .Params.urls.back }}<li><a accesskey="." href="{{ .Params.urls.back }}">{{ i18n "back" }}</a></li>{{ end }}
  </ul>
{{ end }}
{{ define "footer" }}
  <hr>
  {{ partial "footer-menu.html" . }}
<!--   {{ partial "powered-by.html" . }} -->
{{ end }}
