{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}{{ end }}
{{ define "main" }}
  <!-- {{ printf "%#v" .Type}} -->
  <header class="single">
    <h1>{{ .Title }}</h1>
  </header>
  {{ if and (eq .Type "music") (ne .Params.music nil) }}
  <div id="player1" class="aplayer">
    No music available.
  </div>
  {{ end }}
  {{if and (ne .Params.typewriter nil) (eq .Params.typewriter true) }}
  <div id="typewriter">
    {{ .Content }}
  </div>
  {{ else }}
    {{ .Content }}
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
  <hr>
  {{ partial "footer-menu.html" . }}
<!--   {{ partial "powered-by.html" . }} -->
{{ end }}
