/**
* formerly known as critical-vendor
**/

.hack h1 + * {
  margin-top: 0;
}

/* TODO: Workaround */

.hack li {
  position: relative;
  display: block;
  padding-left: 20px;
}

.hack ol {
  counter-reset: a;
}

.hack ol > li:after {
  content: counter(a) '.';
  counter-increment: a;
}

.hack blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}

.hack blockquote:after {
  content: '>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>';
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
}

.hack em:after,
.hack em:before {
  content: '*';
  display: inline;
}

.hack hr {
  position: relative;
  width: 100%;
  height: 1px;
  overflow: hidden;
  margin: 1em 0;
  border: 0;
  border-top: 1px dashed #28fc91;
}

@-moz-document url-prefix() {
  .hack h1 {
    display: block;
  }
}

.hack-ones ol > li:after {
  content: '1.';
}

p {
  margin: 0 0 1.75rem;
}

.inner {
  padding: 1rem;
}

.inner2x {
  padding: 2rem;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  color: #778087;
}

table td,
table th {
  vertical-align: top;
  border: 1px solid #ccc;
  line-height: 15px;
  padding: 10px;
}

table thead th {
  font-size: 10px;
}

table tbody td:first-child {
  font-weight: 700;
  color: #333;
}

.card {
  border: 1px solid #ccc;
}

.card .card-header {
  color: #333;
  text-align: center;
  background-color: #ddd;
  padding: 0.5rem 0;
}

.alert {
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.75rem;
}

.alert-success {
  color: #4caf50;
  border-color: #4caf50;
}

.alert-error {
  color: #f44336;
  border-color: #f44336;
}

.alert-info {
  color: #00bcd4;
  border-color: #00bcd4;
}

.alert-warning {
  color: #ff9800;
  border-color: #ff9800;
}

.avatarholder,
.placeholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #b9b9b9;
  font-size: 1rem;
  border: 1px solid #f0f0f0;
}

.avatarholder {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 2rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.avatarholder.rounded {
  border-radius: 33px;
}

.loading {
  display: inline-block;
  content: '&nbsp;';
  height: 20px;
  width: 20px;
  margin: 0 0.5rem;
  animation: a 0.6s infinite linear;
  border: 2px solid #e91e63;
  border-right-color: transparent;
  border-radius: 50%;
}

.btn .loading {
  margin-bottom: 0;
  width: 14px;
  height: 14px;
}

.btn div.loading {
  float: left;
}

.alert .loading {
  margin-bottom: -5px;
}

@keyframes a {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.menu {
  width: 100%;
}

.menu .menu-item {
  display: block;
  color: #616161;
  border-color: #616161;
}

.menu .menu-item.active,
.menu .menu-item:hover {
  color: #000;
  border-color: #000;
  background-color: transparent;
}

.dark pre {
  padding: 0;
  border: none;
}

.dark pre code {
  color: #00bcd4;
}

.dark code,
.dark strong {
  color: #fff;
}

.dark code {
  font-weight: 100;
}

.dark table {
  color: #ccc;
}

.dark table td,
.dark table th {
  border-color: #444;
}

.dark table tbody td:first-child {
  color: #fff;
}

.dark .avatarholder,
.dark .placeholder {
  background-color: transparent;
  border-color: #333;
}

.dark .menu .menu-item {
  color: #ccc;
  border-color: rgba(95, 95, 95, 0.78);
}

.dark .menu .menu-item.active,
.dark .menu .menu-item:hover {
  color: #fff;
  border-color: #ccc;
}
