a[href*="://"]::after,
a[rel*="external"],
.articles a[href*="//"]>span.title::after {
  content: ''
    url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23FDBC40'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
  margin-left: 0.25em;
}

.articles a[href*="//"]>span.title::after {
  margin-left: 0.5em;
}

.dark strong {
  color: inherit;
}

.hack .articles {
  color: #ea5a5c;
}

.hack .articles li {
  padding-left: 0;
  margin-bottom: 0.5em;
}

.hack .articles li a {
  display: block;
  width: 100%;
  text-transform: inherit;
  padding: 0 4px;
}

.hack .articles li a:hover,
.hack .articles li.active > a {
  color: #101010;
  background-color: #28fc91;
}

.hack .articles li a:hover > span,
.hack .articles li.active > a > span {
  color: #101010;
}

.hack .articles li .key {
  font-weight: 700;
  color: #fdbc40;
}

.hack .articles li .key,
.hack .articles li .author,
.hack .articles li .rdtime,
.hack .articles li .date {
  padding-right: 0.325em;
}

.hack .articles li .title {
  font-weight: 400;
  text-transform: uppercase;
  color: #28fc91;
}

.hack img {
  width: 100%;
}
