/**
* formerly known as critical-theme
**/

:root {
  --screen-size-small: 30em;
  /* breakpoint reference only */
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.muted {
  color: #e0e0e070;
}

.hack .readmore {
  margin-bottom: 2.2em;
}

.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
}

blockquote cite {
  display: block;
}

blockquote cite::before {
  content: '\2014';
}

:target {
  color: #fff;
}

/* hack.css overrides and enhancements */

.hack li ul {
  margin: 0;
}

.hack pre {
  font-size: 17px;
}
