{{ define "header" }}{{ end }}
{{ define "main" }}
  <header class="list">
    <h1>{{ .Title }}</h1>
  </header>
  {{ .Content }}
  {{ if gt (len .Paginator.Pages) 0 }}
    <ul class="articles">
    {{ range $id, $content := .Paginator.Pages }}
    
    {{ $key := cond (ge $id 9) 0 (add $id 1) }}
    
      <!-- {{ printf "%#v" .URL }} -->
      <li>
        <a accesskey="{{ $key }}" href="{{ .URL }}" {{ if .Params.external }}target="_blank"{{ end }}>
          <span class="key">{{ $key }}</span>
          <span class="author">{{ .Params.author }}</span>
          <span class="rdtime">{{ if .Params.external }}--{{ else }}{{ .ReadingTime }}m{{ end }}</span>
          <span class="date">
          {{ if .PublishDate.IsZero }}
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "06 Jan 02" }}</time>
          {{ else if lt .PublishDate .Lastmod }}
            <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "06 Jan 02" }}</time>
          {{ else }}
            <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "06 Jan 02" }}</time>
          {{ end }}
          </span>
          <span class="title">{{ .Title }}</span>
        </a>
      </li>
    {{ end }}
    </ul>
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
  <hr>
  {{ partial "footer-menu.html" . }}
<!--   {{ partial "powered-by.html" . }} -->
{{ end }}
