{{ if ne .Site.Params.show_menu false }}
<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
  {{ $currentNode := . }} {{ range .Site.Menus.main }}
<!--   {{ printf "%#v" ($currentNode.IsMenuCurrent "main" . ) }} -->
  
  <a itemprop="url" accesskey="{{ .Post }}" class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}">
    <span itemprop="name"><strong>{{ .Post }}</strong>:{{ .Name }}</span>
  </a>
  {{ end }}
</nav>
{{ end }}