{{ if ne .Params.music nil }}
<script src='{{ "/assets/js/aplayer.min.js" | relURL }}'></script>
<script type="text/javascript">
  var ap1 = new APlayer({
    container: document.getElementById('player1'),
    listMaxHeight: '190px',
    theme: '#57d785',
    audio: [
      {{ range $id, $entry := .Params.music }}
      {
        name: {{ $entry.title }},
        artist: {{ if ne $entry.artist nil }}{{ $entry.artist }}{{ else }}"Mirko Schubert"{{ end }},
        url: {{ printf "%s" $entry.url }},
        cover: {{ if ne $entry.cover nil }}{{ $entry.cover }}{{ else }}{{ "/assets/img/no-cover.jpg" | relURL }}{{ end }}
      },
      {{ end }}
    ]
  });
</script>
{{ end }}